<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CarRemain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
   
    <applicationSettings>
        <CarRemain.Properties.Settings>
            <setting name="QueryChange" serializeAs="String">
                <value>SELECT CardNo FROM [dbo].[Park_CarIn]</value>
            </setting>
            <setting name="QueryPlaceCorrect" serializeAs="String">
                <value>SELECT CorrectNum, BikeCorrectNum FROM [dbo].[Park_PlaceCorrectNum]</value>
            </setting>
            <setting name="QueryCar" serializeAs="String">
                <value>SELECT CardNo FROM [dbo].[Park_CarIn] where CardType='31'</value>
            </setting>
            <setting name="QueryMotor" serializeAs="String">
                <value>SELECT CardNo FROM [dbo].[Park_CarIn] where CardType='34'</value>
            </setting>
            <setting name="TimerInterval" serializeAs="String">
                <value>62000</value>
            </setting>
            <setting name="FilePath" serializeAs="String">
                <value>D:\\dsat\\parkingslot.txt</value>
            </setting>
            <setting name="UpdateTimeInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="QueryVIPPlace" serializeAs="String">
                <value>SELECT * FROM [dbo].[Park_VIPPlace]</value>
            </setting>
            <setting name="connectionstring" serializeAs="String">
                <value>Server=192.168.1.226;Database=pacer;User Id=sa;Password=h123456h;</value>
            </setting>
        </CarRemain.Properties.Settings>
    </applicationSettings>
</configuration>
